---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="strip strip-grey">
  <div class="strip-grey">
    <h1 style = "text-align:center;">See What's Trending In Podcasts Today</h1>
  </div>
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for service in site.services limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "news" | relative_url }}">See All Trending Stories</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip">
  <h1 style = "text-align: center; padding-top: 30px;">What We Offer</h1>
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

<div class = "strip strip-grey">
  <h2 style = "text-align: center; padding-top: 30px;">Contact Us</h2>
  <form name="contact" method="POST" data-netlify="true" style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
    <p style="margin-bottom: 10px;">
      <label style="display: block; margin-bottom: 5px;">Your Name:</label>
      <input type="text" name="name" style="width: 100%; padding: 5px; border: 1px solid #d5dbe6; border-radius: 4px;"/>
    </p>
    <p style="margin-bottom: 10px;">
      <label style="display: block; margin-bottom: 5px;">Your Email:</label>
      <input type="email" name="email" style="width: 100%; padding: 5px; border: 1px solid #d5dbe6; border-radius: 4px;"/>
    </p>
    <p style="margin-bottom: 10px;">
      <label style="display: block; margin-bottom: 5px;">Type of Inquiry:</label>
      <select name="type[]" multiple style="width: 100%; padding: 5px; border: 1px solid #d5dbe6; border-radius: 4px;">
        <option value="sales / business">Sales/Business</option>
        <option value="press">Press</option>
        <option value="other">Other</option>
      </select>
    </p>
    <p style="margin-bottom: 10px;">
      <label style="display: block; margin-bottom: 5px;">Message:</label>
      <textarea name="message" style="width: 100%; min-height: 100px; padding: 5px; border: 1px solid #d5dbe6; border-radius: 4px;"></textarea>
    </p>
    <p style="text-align: center;">
      <button type="submit" style="background-color: black; border: none; color: #d5dbe6; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 4px;">Send</button>
    </p>
</form>
</div>