---
layout: default
bodyClass: "page-service"
---

{% assign service = site.services | where: 'url', page.url | first %}

<!-- Add Open Graph meta tags -->
{% assign og_image = site.url | append: 'images/' | append: service.image %}
<meta property="og:title" content="{{ service.title }}">
<meta property="og:description" content="{{ service.subtitle }}">
<meta property="og:image" content="{{ og_image }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="service-header text-center">
        <img src="{{ 'images/' | append: service.image | relative_url }}" alt="{{ service.title }}" style="width: 350px; height: 350px; object-fit: cover; display: inline-block;">
      </div>
    </div>
  </div>
  <div class="row justify-content-start mt-4">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <div class="content">{{content}}</div>
      </div>
    </div>
  </div>
</div>
