---
layout: default
bodyClass: "page-service"
---

{% assign service = site.services | where: 'url', page.url | first %}

<!-- Add Open Graph meta tags -->
{% assign og_image = site.url | append: 'images/' | append: service.image %}
<meta property="og:title" content="{{ service.title }}">
<meta property="og:description" content="{{ service.subtitle }}">
<meta property="og:image" content="{{ og_image }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="service-header text-center">
        <img src="{{ 'images/' | append: service.image | relative_url }}" alt="{{ service.title }}" style="width: 350px; height: 350px; object-fit: cover; display: inline-block;">
      </div>
    </div>
  </div>
  <div class="row justify-content-start mt-4">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <div class="content">{{content}}</div>
      </div>
    </div>
  </div>
  {% assign other_services = site.services | where_exp: "item", "item.url != page.url" %}
{% assign recommended_stories = other_services | sample: 4 %}

<div class="row mt-5">
  <div class="col-12">
    <h2 class="text-center mb-4">Recommended Stories</h2>
  </div>
</div>
  <div class="row">
    {% for service in recommended_stories %}
      <div class="col-12 mb-3" style="padding-bottom: 20px;">
        <div class="service service-summary d-flex">
          <div class="service-image mr-3">
            <a href="{{ service.url | relative_url }}"><img src="{{ 'images/' | append: service.image | relative_url }}" alt="{{ service.title }}" style="width: 300px; height: 300px; object-fit: cover;"></a>
          </div>
          <div class="service-content">
            <h1 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h1>
            <h4>{{ service.date | date: "%B %d, %Y" }}</h4>
            <p>{{ service.subtitle | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
